In [1]:
import pandas as pd
import csv 
import glob
import os
os.chdir('Resources')

In [2]:
extension = 'csv'
ticker_files = [x for x in glob.glob('*.{}'.format(extension))]

In [3]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in ticker_files ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

combined_csv

      timestamp   open   high     low  close     volume Ticker       Sector
0    2020-07-02  48.41  49.08  47.245  47.79   18193240     MS   Financials
1    2020-06-30  44.52  51.85  43.950  48.30  296550339     MS   Financials
2    2020-05-29  38.35  47.32  35.530  44.20  252483991     MS   Financials
3    2020-04-30  31.68  41.85  31.160  39.43  346304903     MS   Financials
4    2020-03-31  45.11  46.92  27.200  34.00  581088494     MS   Financials
..          ...    ...    ...     ...    ...        ...    ...          ...
235  2000-12-29  57.13  60.44  50.810  59.94   42147900    CVS  Health Care
236  2000-11-30  52.63  59.13  49.880  56.88   62597600    CVS  Health Care
237  2000-10-31  46.19  54.13  43.560  52.94   51226000    CVS  Health Care
238  2000-09-29  36.75  46.94  36.440  46.31   43412600    CVS  Health Care
239  2000-08-31  37.56  39.81  33.250  37.14   52822200    CVS  Health Care

[22528 rows x 8 columns]